@import "tailwindcss";
@plugin "@tailwindcss/typography";

body{
    background-color:#101828;
}

<<<<<<< HEAD
=======
/* Hide default browser password reveal button */
>>>>>>> e7a7736fafb3abcac616a025c5bc0d82b24e4dff
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
<<<<<<< HEAD

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
=======
>>>>>>> e7a7736fafb3abcac616a025c5bc0d82b24e4dff
